div {
    border: 50px solid green;
    padding: 50px;
    margin: 50px;
    background: url(/assets/photo-1544656376-ffe19d4b7353.avif);
    background-position: center;
    background-size: 100px;
    background-attachment: fixed;
}

p{
    border: 2.5px solid white;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

img{
    border: 2.5px solid white;
    padding: 10px;
    margin: 10px;
}